label.form-label {
  display: block;
  margin-bottom: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 4px 0 0;
  font-size: 11px;
  font-weight: 400;
}

.my-2 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-4 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.m-2 {
  margin: 4px;
}

.m-4 {
  margin: 8px;
}

.px-4 {
  padding-left: 8px;
  padding-right: 8px;
}

.w-100 {
  width: 100%;
  box-sizing: border-box;
}

.icon {
  display: flex;
  align-items: center;
}

.sub-text {

}