label.form-label {
  display: block;
  margin-bottom: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 4px 0 0;
  font-size: 11px;
  font-weight: 400;
}

.my-2 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.w-100 {
  width: 100%;
}