.collapse-button, 
.collapse-button .collapse-button__title, 
.collapse-button .collapse-button__actions {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.collapse-button > .form-label {
  cursor: pointer;
  user-select: none;
}